<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Well Play - A music player with lyrics</title>
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="/css/css_main.css">
		<link rel="stylesheet" type="text/css" href="/css/slider.css">
		<link rel="icon shortcut" href="/pics/icons/wp_icon_withouttext.png">
	</head>
	<body>
		<div id="search_bar">
			<div id="logo"><img src="/pics/icons/wp_logo.png" height="55px"></div>
			<div id="search">
				<form id="searchField" action="/result" method="get">
					<input type="text" class="form-control" id="key_words" name="key_words" placeholder="Search">
				</form>
				<input type="hidden" id="playing_track" name="playing_track" value="">
				<input type="hidden" id="playing_query" name="playing_query" value="">
				<input type="hidden" id="playing_track_name" name="playing_track_name" value="">
				<input type="hidden" id="playing_track_artist" name="playing_track_artist" value="">
				<input type="hidden" id="selected_track" name="selected_track" value="">
				<input type="hidden" id="selected_track_thumbnail" name="selected_track_thumbnail" value="">
				<input type="hidden" id="selected_track_name" name="selected_track_name" value="">
				<input type="hidden" id="selected_track_artist" name="selected_track_artist" value="">
			</div>
			<div id="user">
				Welcome, {{userNickname}} <a href="{{logout_url}}">Logout</a>
			</div>
		</div>
		<div class="play_list">
			<div id="playlist_header">PLAYLISTS</div>
			<div id="playlist_container">
				<div class="suggestlist">
					<div class="playlist_icon"><img src="/pics/icons/music_grey.png" height="20px"></div>
					<div class="playlist_name"><a href="#">Suggested List</a></div>
				</div>
				{{playlist_template}}
			</div>
		</div>
		<div id="content"></div>
		<div id="select_playlist">
			<div class="select_playlist_title">Select Playlist</div>
			<div class="select_playlist_container">
				{{select_playlist_template}}
			</div>
		</div>
		<div id="player"></div>
		<div class="lyrics"></div>
		<div class="clear"></div>
		<div id="add_playlist">
			<img src="/pics/icons/plus_circle_grey.png" height="40px">
			New Playlist
		</div>
		<div id="new_playlist_name">
			<input type="text" id="playlist_name_field" placeholder="    Playlist name">
			<button type="button" id="submit_playlist_name">Create</button>
		</div>
		<div id="display_playing_track">
			<img id="playing_track_thumbnail">
			<div id="playing_track_info"></div>
			<div id="add_playing_track" class="add"></div>
		</div>
		<div class="player_contorller">
			<div id="controls">
				<button id="prev"></button>
				<button id="play"></button>
				<button id="next"></button>
			</div>
			<div id="progress">
				<div id="playtime">00:00</div>
				<div>
					<input type="range" name="progressbar" id="progressbar" value="0" oninput="mousemoveProgressbar(this)" onmouseup="mouseupProgressbar(this)">
				</div>
				<div id="totaltime">00:00</div>
			</div>
			<div id="player_panel">
				<button id="hide"></button>
				<button id="shuffle"></button>
				<button id="loop"></button>
				<button id="loop_one"></button>
			</div>
			<div id="volumebar">
				<div>
					<img id="mute" src="/pics/icons/sound.png" height="22px" width="22px"></img>
				</div>
				<div>
					<input type="range" name="volume" id="volume" value="100" max="100" min="0" oninput="volume_tooltip()">
				</div>
			</div>
		</div>	
		<div id="ajax_layer"></div>
		<script src="/js/compressD.js"></script>
	</body>
</html>