<div id="title">
	Showing the reuslt for “{{keyWords}}”.
</div>

<div class="trackRecordHeader">
	<div class="songHeader">
		SONG
	</div>
	<div class="artistHeader">
		ARTIST
	</div>
</div>

<div id="resultContainer">
	{% for result in results %}
	<div class="record">
		<div class="button_play">
			<button class="play" type="button" attr-query="{{ result.query }}"></button>
		</div>

		<div class="button_add">
			<button class="add" type="button">Add</button>
		</div>

		<div class="song_name">
			{{ result.track }}
		</div>

		<div class="song_artist">
			<a href="#" attr-artist-name="{{ result.artistQuery }}">{{ result.artist }}</a>
		</div>
	</div>
	{% endfor %}
</div>