<!DOCTYPE html>
<html>
	<head>
		<title>Guess Number</title>
		<style>
			div {
				text-align: center;
			}

			#tips {
				color: darkgreen;
			}

			a {
				color: blue;
			}
		</style>
	</head>
	<body>
		<form method="post" action="/guessnum">
			<div>
				<h2>Guess a number from range {{ minimum }} to {{ maximum }}!</h2>
				Guess: <input type="text" name="guess" id="guess">
				<br>
				<br>
				<div id="tips">{{ tips }}</div>
				<br>
				<input type="submit" value="Guess">
				<input type="hidden" id="result" value="{{ win }}">
				<br>
				<br>
				<a href="/">Back</a>
			</div>
		</form>
		<script>
			document.getElementById("guess").focus();
			if (document.getElementById("result").value == "True") {
				window.alert('Bingo!');
			}
		</script>
	</body>
</html>