html{
	padding: 0px;
	margin: 0px;
	height: 100%;
}

body{
	max-width: 1440px;
	background: #171717;
	color:#FFFAFA;
	width:1440px;
	height:100%;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color:#00FFFF;
}

#search_bar{
	width: 100%;
	height: 74px;
	background-color: #272727;
}

#logo{
	float: left;
	width: 200px;
	height: 74px;
	padding-left: 42px;
	padding-top: 10px;
}

#search{
	margin:20px 0px 20px 0px;
	width: 815px;
	float: left;
}

.form-control{
	width: 815px !important;
}

#user{
	float: left;
	width: calc(100% - 1015px);
	height: 100%;
	text-align: right;
	padding: 20px 15px 0px 0px;
	font-size: 125%;
}

.play_list{
	width:200px;
	height: calc(100% - 73px - 60px - 5px - 60px - 60px);
	float: left;
	border-right: 1px solid #272727;
	background-color: #272727;
	margin-top: 1px;
}

#playlist_header{
	float: left;
	padding: 5px 0px 0px 10px;
	font-size: 18px;
	width: 200px;
	height: 30px;
}

#playlist_container{
	float: left;
	width: 200px;
	height: calc(100% - 40px);
	overflow: scroll;
}

.suggestlist{
	padding-top: 5px;
	float: left;
	height:30px;
	width: 200px;
	cursor: pointer;
}

.suggestlist:hover{
	background: #171717;
}

.playlist_content{
	padding-top: 5px;
	float: left;
	height:30px;
	width: 200px;
	cursor: pointer;
}

.playlist_content:hover{
	background: #171717;
}

.playlist_icon{
	padding-left: 15px;
	margin-right: 10px;
	float:left;
	width:30px;
	height:30px;
}

.playlist_name{
	float:left;
	width:150px;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.selected_playlist{
	background: #171717 !important;
}

#playlist{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

#content{
	width:840px;
	height: calc(100% - 75px - 60px);
	float: left;
}

#select_playlist{
	height: 200px;
	width: 150px;
	position: absolute;
	background-color: #272727;
	font-size: 16px;
	color: #d3d3d3;
	z-index: 100;
	display: none;
	padding: 5px;
	border: 1px solid #1DD760;
}

.select_playlist_title{
	padding-left: 5px;
	height: 22px;
	width: 100%;
}

.select_playlist_container{
	height: calc(100% - 22px);
	width: 100%;
	overflow: scroll;
}

.select_playlist_content{
	float: left;
	height:20px;
	width: 200px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis;
}

.select_playlist_name{
	margin-left: 15px;
	float:left;
	width: 135px;
}

.select_playlist{
	width: 135px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis;
}

#title{
	background: black;
	border: 1px solid #272727;
	border-radius: 5px;
	width:815px;
	height:50px;
	padding:7px 0px 0px 30px;
	font-size: 150%;
}

#emptyResult{
	background: black;
	border: 1px solid #272727;
	border-radius: 5px;
	width:815px;
	height:70px;
	padding:10px 0px 0px 30px;
	font-size: 150%;
}

#emptyResult p{
	font-size: 50%;
}

#artistTitle{
	background: black;
	border: 1px solid #272727;
	border-radius: 5px;
	width:815px;
	height:180px;
	padding:15px 0px 0px 30px;
	background-repeat: no-repeat;
	opacity: 0.5;
	background-position: right;
}

#artistDetail{
	width: calc(100% - 180px);
	height: calc(100% - 15px);
}

#artistDescription{
	overflow-y: scroll;
	height: calc(100% - 30px);
	text-align: justify;
    text-justify: inter-word;
    padding-right: 30px;
}

#resultContainer{
	overflow-y: scroll;
	height: calc(100% - 50px - 30px);
	padding: 0px 30px 0px 30px;
}

#artistResultContainer{
	overflow-y: scroll;
	height: calc(100% - 180px);
	padding: 10px 30px 0px 30px;
}

.albumDetail{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #272727;
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
}

.albumDetail img{
	width: 174px;
	height: 174px;
	display: inline;
	float: left;
}

.albumName, .albumDescription{
	display: inline;
	padding: 0px 10px;
	width: calc(100% - 174px);
	float: left;
}

.albumName, #artistName{
	font-size: 150%;
}

.albumDescription{
	height: calc(100% - 40px);
	overflow-y: scroll;
	text-align: justify;
    text-justify: inter-word;
}

.record{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #272727;
    padding-top: 7px;
	display: flex;
	width: 100%;
	height: 40px;
}

.record:hover{
	background: #272727;
}

.recordHeader{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #272727;
	width: 100%;
}

.trackRecordHeader{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #272727;
	width: calc(100% - 60px);
	margin: 0px 30px 0px 30px;
	height: 30px;
}

.split{
	width: 100%;
	height: 50px;
}

.trackName{
	width: calc(100% - 100px);
	float: left;
	line-height: 29px;
}

.trackHeader{
	width: 100%;
	line-height: 29px;
	padding-left: 100px;
	opacity: 0.5;
}

.songHeader{
	width: calc(100% - 360px);
	line-height: 29px;
	padding-left: 100px;
	opacity: 0.5;
	float: left;
}

.artistHeader{
	width: calc(100% - 360px - 100px);
	line-height: 30px;
	opacity: 0.5;
	float: left;
}

.button_play, .button_add, .button_delete{
	width:50px;
	font-family: 'Fjalla One', sans-serif;
	float:left;
	padding:0px 50px 0px 0px ;
	display: inline-block;
	color: black;
}

.song_name, .song_artist{
	width: 320px;
	color:white;
	float:left;
	padding:0px 10px 0px 0px ;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
  	line-height: 25px;
}

/*.song_name:hover, .song_artist:hover{
	text-overflow:inherit;
	overflow:visible;
}*/

#deletePlaylist{
	height: 100%;
	width: 50px;
	float: right;
	padding-right: 10px;
	padding-top: 3px;
}

#deletePlaylist > button{
	float: inherit;
	display: block; 
	width: 30px; 
	height: 25px;
	background: url(/pics/icons/rubbish_grey.png) no-repeat;
	background-size: 30px 25px;
	border: none; 
	cursor: pointer; 
	outline: none;
}

#deletePlaylist > button:hover{
	background: url(/pics/icons/rubbish_green.png) no-repeat;
	background-size: 30px 25px;
}

#player{
	float: right;
	width:400px;
	height:285px;
}

.lyrics{
	float: right;
	width:400px;
	height: calc(100% - 75px - 60px - 285px);
	text-align: center;
	line-height: 36px;
	font-family: 'Montserrat', sans-serif;
	overflow-y: scroll;
	background: #272727;
}

.clear{
	clear: both;
}

#add_playlist{
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
}

#add_playlist > img{
	margin-right: 10px;
}

#add_playlist{
	height: 60px;
	width: 200px;
	position: absolute;
	float: left;
	bottom: 122px;
	background-color: #272727;
}

#new_playlist_name{
	height: 60px;
	width: 200px;
	position: absolute;
	/*left: 201px;*/
	bottom: 122px;
	padding: 17px 5px 17px 15px;
	background-color: #272727;
	display: none;
}

#playlist_name_field{
	-webkit-appearance: none; 
    -moz-appearance: none; 
    border: 1px solid #1DD760;
	width: 120px;
	background-color: #272727;
}

#playlist_name_field:focus{
	border: 1px solid #1DD760;
	outline: none;
}

#submit_playlist_name{
	border: none;
	background-color: #272727;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

#submit_playlist_name:hover{
	-moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
	color: #1DD760;
}

#display_playing_track{
	height: 60px;
	width: 200px;
	position: absolute;
	float: left;
	bottom: 61px;
	background-color: #272727;
}

#playing_track_thumbnail{
	width: 100px; 
	height: 100%;
	float: left;
	border: none;
}

#playing_track_info{
	text-align: center;
	float: inherit;
	font-size: 10px;
	height: 30px;
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
  	text-overflow: ellipsis;
}

#add_playing_track{
	float: inherit;
	height: 30px;
	width: 100px;
	background: url(/pics/icons/plus_grey.png) no-repeat;
	background-size: 25px 25px;
	background-position: center;
}

#add_playing_track:hover{
	cursor: pointer;
	background: url(/pics/icons/plus.png) no-repeat;
	background-size: 25px 25px;
	background-position: center;
}

.player_contorller{
	color: black;
	bottom: 0px;
	width:1440px;
	height:60px;
	position:absolute;
    background-color: #272727;
    padding-top: 20px;
}

#controls{
	height: 40px;
	width: 200px;
	float: left;
}

#controls > button{
	float: inherit;
}

#prev{
	display: block; 
	width: 20px; 
	height: 20px;
	margin-left: 50px;
	margin-right: 20px;
	background: url(/pics/icons/last_grey.png) no-repeat;
	background-size: 20px 20px;
	border: none; 
	cursor: pointer; 
	outline: none;
}

#prev:hover{
	background: url(/pics/icons/last.png) no-repeat;
	background-size: 20px 20px;
}

#play{
	display: block; 
	width: 40px; 
	height: 40px;
	top: -10px;
	position: relative;
	background: url(/pics/icons/play_grey.png) no-repeat;
	background-size: 40px 40px;
	border: none; 
	cursor: pointer; 
	outline: none;
}

#next{
	display: block; 
	width: 20px; 
	height: 20px; 
	margin-left: 20px;
	background: url(/pics/icons/next_grey.png) no-repeat;
	background-size: 20px 20px;
	border: none; 
	cursor: pointer; 
	outline: none;
}

#next:hover{
	background: url(/pics/icons/next.png) no-repeat;
	background-size: 20px 20px;
}

#progress{
	height: 40px;
	width: 840px;
	float: left;
	color: lightgrey;
}

#progress > div{
	float: inherit;
}

#progress > div:nth-child(2){
	padding-top: 7px; 
	margin: 0 5px;
}

#progressbar{
	cursor: pointer;
}

#player_panel{
	width: 250px;
	float: left;
	padding-left: 55px;
}

#player_panel > button{
	float: inherit;
}

#hide{
	display: block; 
	width: 20px; 
	height: 20px;
	background: url(/pics/icons/mini_grey.png) no-repeat;
	background-size: 20px 20px;
	border: none; 
	cursor: pointer; 
	outline: none; 
}

#hide:hover{
	background: url(/pics/icons/mini.png) no-repeat;
	background-size: 20px 20px;

}

#shuffle{
	display: block; 
	width: 25px; 
	height: 25px;
	top: -3px;
	position:relative;
	margin-left: 10px;
	background: url(/pics/icons/random_grey.png) no-repeat;
	background-size: 25px 25px;
	border: none; 
	cursor: pointer; 
	outline: none;
}

#shuffle:hover{
	background: url(/pics/icons/random.png) no-repeat;
	background-size: 25px 25px;
}

#loop{
	display: block; 
	width: 30px; 
	height: 30px;
	top: -5px;
	position:relative;
	margin-left: 10px;
	background: url(/pics/icons/repeat_grey.png) no-repeat;
	background-size: 30px 30px;
	border: none; 
	cursor: pointer; 
	outline: none; 
}

#loop:hover{
	background: url(/pics/icons/repeat.png) no-repeat;
	background-size: 30px 30px;
}

#loop_one{
	display: block; 
	width: 30px; 
	height: 30px;
	top: -5px;
	position:relative;
	margin-left: 10px;
	background: url(/pics/icons/loop_one_grey.png) no-repeat;
	background-size: 30px 30px;
	border: none; 
	cursor: pointer; 
	outline: none; 
}

#loop_one:hover{
	background: url(/pics/icons/loop_one.png) no-repeat;
	background-size: 30px 30px;
}

#volumebar{
	height: 40px;
	width: 150px;
	float: left;
}

#volumebar > div{
	float: inherit;
}

#volumebar > div:nth-child(2){
	padding-top: 7px;
	margin-left: 5px;
}

#volume{
	cursor: pointer;
	float: inherit;
	width: 100px;
}

#mute{
	cursor: pointer;
}

.play{
	display: block; 
	float: left; 
	width: 19px; 
	height: 22px; 
	margin: 1px 0px 0px 14px;
	background: url(/pics/icons/play_v1_grey.png) no-repeat;
	background-size: 19px 22px;
	border: none; 
	cursor: pointer; 
	outline: none; 
}

.add{
	display: block; 
	float: left; 
	width: 25px; 
	height: 25px; 
	background: url(/pics/icons/plus_grey.png) no-repeat;
	background-size: 25px 25px;
	border: none; 
	cursor: pointer; 
	outline: none;
}

.add:hover{
	background: url(/pics/icons/plus.png) no-repeat;
	background-size: 25px 25px;
}

.delete{
	display: block; 
	float: left; 
	width: 25px; 
	height: 22px; 
	background: url(/pics/icons/rubbish_grey.png) no-repeat;
	background-size: 25px 22px;
	border: none; 
	cursor: pointer; 
	outline: none;
}

.delete:hover{
	background: url(/pics/icons/rubbish_green.png) no-repeat;
	background-size: 25px 22px;
}

#ajax_layer{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .1 ) 
                url(/pics/ajax-loader.gif)
                50% 50% 
                no-repeat;
}

body.loading{
    overflow: hidden;   
}

body.loading #ajax_layer{
    display: block;
}

div::-webkit-scrollbar {
	display: none;
}
